@charset "UTF-8";
body {
	background-color: white;
}
h1.h1 {
	color: black;
	background-color: lightblue;
	text-align: center;
}
hr.hr1 {
	width: 75%;
}
hr.hr2 {
	width: 100%;
	background-color: blue;
	height: 10px;
}
img.img1 {
	width: 150px;
	height: 150px;
}
img.img1:hover {
	width: 150px;
	height: 150px;
	opacity: 0.5;
}
section.section1 {
	text-align: center;
}
footer.footer1 {
	text-align: center;
	background-color: lightblue;
}
p.p1 {
	text-align: center;
	position: relative;
	width: 300px;
	left: 300px;
}
p.p1:hover {
	background-color: lightblue;
	position: relative;
	width: 320px;
	left: 280px;
	font-weight: 700;
}
p.p2 {
	background-image: url(valencia_antigua.jpg);
	color: blue;
	background-size: 630px 310px;
	border: black 2px solid;
	position: relative;
	width: 70%;
	
}
img.img3 {
	width: 250px;
	height: 200px;
}